@font-face {
  font-family: "Dongle-Regular";
  src: url(./fonts/Dongle-Regular.ttf);
}

body {
  margin:0;
}

#container {
  display: flex;
  flex-direction: column;

}
#header > *:first-child{
  border-radius: 8%;
}

#header {
  display: flex;
  flex-basis: 30px;
  align-items: flex-end;
  padding: 8px;
  background-color: dodgerblue;
  gap: 12px;
} 

#header > * {
  padding:8px 0;
  text-align: center;
  flex-basis: 85px;
  font-size: 25px;

}

#header> *:first-child{ 
  flex-basis: 150px;
  background-color: darkgray;
}

.login{
  flex-basis: 150px;
}

.blank{
  flex-basis: auto;
  flex-grow: 1;
}


#main{
  display: flex;
  flex-direction: column;
/*   justify-content: center; */
  align-items: center;
  flex-grow: 1;
  flex-basis: 100vh;
}

img[src="picture.jpg"]{
  width: 70vh;
}

.row{
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  align-items: center;
  
}

.feature-list{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  flex-basis: 800px;
  padding: 12px;
  gap: 40px;
  flex-basis: 200px;
  background-color: olivedrab;
  justify-content: center;
  align-items: stretch;
}

h1{
  margin-top: 10px;
  margin-bottom: 5px;
}

a{
  text-decoration: none;
  color:white;
}
.feature-list > a{
  padding: 12px;
  background-color: deepskyblue;
  text-decoration: none;
  flex-basis: 13.5em;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}


#content {
  padding: 24px;
  background-color: deepskyblue;
}

#footer {
  flex-basis: 60px;
  background-color: tomato;
}