#sheet{ 
  display: flex;
  align-items:flex-end;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
  border: 2px solid blue;
  margin: 20px;
}
#sheet > div{
  margin: 10px;
  border: 2px solid gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

table{
  margin:20px;
  border: 2px solid gray;
  border-spacing: 2px;
}
caption{
  font-size: 23px;
}

td{
  min-width: fit-content;
  width: 40px;
  height: 35px;
  border: 2px solid gray;
  font-size: 18px;
}

input{
  width: 50px;
  height: 20px;
}

#info{
  flex-grow: 2;
}
#status{
  flex-grow: 3;
}

#status_condition{
  flex-grow: 4;
}
#status_condition input{
  width: 20em;
  height: 17px;
}

#title{
  background-color: #CFF0CC;
  text-align: center;
  font-size: 30px;
  border-radius: 10px;
}

#HP_LUK_MP
{
  flex-grow: 1;
}

#body_size
{
  flex-grow: 2;
}

#body_size_table td{
  width: max-content;
}

#mental
{
  flex-grow: 1;
}

#mental_condition{
  flex-grow: 3;
}


#mental_condition input{
  width: 20em;
  height: 17px;
}

.function_table{
  width: fit-content;
  margin: 0;
}


.function_name{
  width: 100px;
  height: 10px;
  white-space:nowrap;
}

.function_table input{
  width: 20px;
  height: 15px;
}